<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%load static 'css/style.css' %}">
</head>

<body>

    <h2>Нэвтрэх хэсэг</h2>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Нэвтрэх</button>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Хэрэглэгчийн нэр</b></label>
                <input type="text" placeholder="Хэрэглэгчийн нэр" name="uname" required>

                <label for="psw"><b>Нууц үг</b></label>
                <input type="password" placeholder="Нууц үг" name="psw" required>

                <button type="submit">Нэвтрэх</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Сануулах
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Цуцлах</button>
                <span class="psw">Нууц үгээ мартсан уу? <a href="#">энд дарна уу</a></span>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>